<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AutosCR</title>
        <meta charset="UTF-8">
        <link href="/estilosCSS/estilosplantilla.css" rel="stylesheet" type="text/css"/>
        <link href="/estilosCSS/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <div id="cuadro">

            <form>
                <p id="titulo" style="font-family: sans-serif" >INICIAR SESIÓN</p>
                <hr>
                <br/><br/>
                <label id="subtitulo1" style="font-family: sans-serif" >CORREO ELECTRÓNICO</label>
                <br/><br/>
                <input type="text" class="entrada"/>
                <br/><br/>
                <label id="subtitulo2" style="font-family: sans-serif" >CONTRASEÑA</label>
                <br/><br/>
                <input type="password" class="entrada"/>
                <br/><br/>
                <input type="submit" value="Iniciar Sesión" id="boton"/>
                <br/><br/>
               
                
                <input type="submit" value="Invitado" id="boton_invitado"/>
            </form>
            <br/>
            <p id="info" style="font-family: sans-serif ">No tienes cuenta?</p>
            <p id="marca" style="font-family: sans-serif ">Registrarse</p>
            <p id="logAdmin" style="font-family: sans-serif ">Administrador</p>

        </div>
        <br/><br/>
        <br/><br/>
        <br/><br/>
        <footer th:replace="layout/plantillaMenu :: footer"></footer>
    </body>
</html>
