<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AutoCR</title>
        <meta charset="UTF-8">
        <link href="/estilosCSS/estilosplantilla.css" rel="stylesheet" type="text/css"/>
        <link href="/estilosCSS/estilosInicio.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <div class="contenedor">
            <h2>Registro de Usuario</h2>
            <hr>
            <form th:action="@{/usuario/guardar}"
                  method="post"
                  th:object="${usuario}">
                <input type="hidden" name="idusuario" th:field="*{idusuario}"/>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br>

                <label for="apellidos">Apellidos:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br>

                <label for="correo">Correo:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br>

                <label for="cedula">Cédula:</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br>

                <label for="telefono">Teléfono:</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
                <br>

                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña" th:field="*{contraseña}"/>
                <br>
                
                <input type="submit" name="registrar" value="Registrar"/>
                <a th:href="@{/}">Cancelar</a>
                <hr>
            </form>
        </div>
        <footer th:replace="layout/plantillaMenu :: footer"/>
    </body>
</html>
