<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
   <head th:replace="layout/plantillaMenu :: head"></head>
<body>
    <header th:replace="layout/plantillaMenu :: menu"></header>
    <div class="perfil-conten">
        <div class="perfil-item">
            <div class="foto-circulo">
                <div class="foto-img">
                    <img src="https://images.pexels.com/photos/4769490/pexels-photo-4769490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
            </div>
            <h2><b>Usuario</b></h2>
            <table border="1" class="info-user">
                <tr>
                    <td><b>Nombre:</b> </td>
                    <td>Jimena</td>

                </tr>
                <tr>
                    <td><b>Correo: </b></td>
                    <td>jsoto@ejemplo.com</td>

                </tr>
                <tr>
                    <td><b>Telefono: </b></td>
                    <td>8989-8787</td>

                </tr>
                <tr>
                    <td><b>Tipo: </b></td>
                    <td> Cliente </td>

                </tr>
            </table>
            <h2>Adquisiciones</h2>
            <section class="art-compras">                                
                <article class="conten-art-compra">                    
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                                          
                </article>
                <article class="conten-art-compra">                                        
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                      
                </article>
                <article class="conten-art-compra">                                        
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                      
                </article>
            </section><br><br>
            <button class="btn-cerrar-perfil"><a href="index.html"><b>Cerrar Sesión</b></a></button>
        </div>
    </div>
    <footer th:replace="layout/plantillaMenu :: footer"></footer>
</body>
</html>