<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <title>AutosCR</title>        
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <div class="contenedor">
            <header class="header" th:fragment="menu">
            <nav class="nav">
                <a th:href="index.html" class="logo_nav-link">AutosCR</a>
                <ul class="ul-menu">
                    <li class="li-menu"><a  th:href="index.html">MiCarrito</a></li>
                    <li class="li-menu"><a  th:href="index.html">Compra</a></li>
                    <li class="li-menu"><a  th:href="index.html">Alquiler</a></li>
                    <li class="li-menu"><a  th:href="index.html">MiReserva</a></li>
                    <li class="li-menu"><a  th:href="index.html">Ayuda</a></li>
                    <li><botton class="li-menu" th:href="index.html">Iniciar Sesión</botton></li>
                </ul>
            </nav>
            </header>
            
        
        <footer th:fragment="footer" class="footer">
            
            <p>&COPY; Todos los derechos reservados</p>
        </footer>
        </div>
    </body>
</html>
