<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>AutosCR</title>        
        <meta charset="UTF-8"/>

    </head>
    <body>
        
            <header class="header" th:fragment="menu">
                <nav class="nav">
                    <a th:href="@{/}" class="logo_nav-link">AutosCR</a>
                    <ul class="ul-menu">
                        <li><a  th:href="@{/}">[[#{plantillaMenu.micarrito}]]</a></li>
                        <li><a  th:href="@{/vehiculo/listado}">[[#{plantillaMenu.compra}]]</a></li>
                        <li><a  th:href="@{/vehiculo/alquila}">[[#{plantillaMenu.alquiler}]]</a></li>
                        <li><a  th:href="@{/}">[[#{plantillaMenu.mireserva}]]</a></li>
                        <li><a  th:href="@{/}">[[#{plantillaMenu.ayuda}]]</a></li>
                        <li><a  th:href="@{/usuario/login}" class="boton">[[#{plantillaMenu.iniciarsesion}]]</a></li>
                    </ul>
                </nav>
            </header>


            <footer th:fragment="footer" class="footer">

                <p>&COPY [[#{plantillaMenu.derechos}]]|
                    <a th:href="@{/(lang=es)}">ES</a>|
                    <a th:href="@{/(lang=en)}">EN</a>
                </p>
            </footer>
        
    </body>
</html>
