<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>AutosCR</title>        
        <meta charset="UTF-8"/>

    </head>
    <body>
        
            <header class="header" th:fragment="menu">
                <nav class="nav">
                    <a th:href="@{/}" class="logo_nav-link">AutosCR</a>
                    <ul class="ul-menu">
                        <li><a  th:href="@{/}">MiCarrito</a></li>
                        <li><a  th:href="@{/vehiculo/listado}">Compra</a></li>
                        <li><a  th:href="@{/vehiculo/alquila}">Alquiler</a></li>
                        <li><a  th:href="@{/}">MiReserva</a></li>
                        <li><a  th:href="@{/}">Ayuda</a></li>
                        <li><a  th:href="@{/usuario/login}" class="boton">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </header>


            <footer th:fragment="footer" class="footer">

                <p>&COPY; Todos los derechos reservados</p>
            </footer>
        
    </body>
</html>
