:root{
    --color-blanco:#ffffff;
    --color-celesteclaro:#bae8e8;
    --color-celesteoscuro:#e3f6f5; 
    --color-azul:#272343;
    --color-naranja:#f95959;
}
* {
	font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
	background-color: var(--color-blanco);   
        color: var(--color-azul);   
        
}

.header {
    margin-top: -10vh;
    width: 100vw;
    height: 10vh;
    background-color: var(--color-azul);
    position: fixed;
    z-index: 100;
    padding-right: 20px;
    
    
}
.logo_nav-link{
    color: var(--color-naranja);
    text-decoration: none;
    font-size: 30px;
    padding: 5px 10px;
    margin: -10px;
    margin-left: 20px; 
}
.ul-menu{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.ul-menu li{
    list-style: none;
}

.ul-menu a{
    text-decoration: none;
    padding: 10px 20px;
    color: var(--color-blanco);
    
}
.ul-menu .boton {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--color-blanco);
    background-color: var(--color-naranja);
    border-radius: 20px;
    margin-right: 20px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.ul-menu a:hover{
    outline: solid var(--color-naranja);  
}
.ul-menu .boton:hover{
    outline: solid var(--color-celesteoscuro);  
}
.logo_nav-link:hover{
    outline: solid var(--color-naranja);
} 
.footer{
    
    text-align: center;
    width: 100vw;
    height: 30vh;
    background-color: var(--color-azul);
    margin-bottom: 0;
    color: var(--color-blanco);    
}
.footer svg{
    margin: 20px 30px;
}