
h1{
    font-family: sans-serif;
    background-color: #272343;
    color: white;
    text-align: center;
    margin:  auto;
    padding: 5px 5px 30px 5px;
    border-top: 10px solid #272343;
    border-right: 10px solid #272343;
    border-left:  10px solid #272343;
    
}

#cuadro{
    width: 400px;
    background: #272343;
    color: white;
    margin:  auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #272343;
    border-right: 35px solid #272343;
    border-left:  35px solid #272343;
    border-radius: 10px;
    
    
}


#cuadroadmin{
    width: 330px;
    background: #272343;
    color: white;
    margin:  auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #272343;
    border-right: 35px solid #272343;
    border-left:  35px solid #272343;
    border-radius: 10px;
    
    
}
.entrada{
    width: 320px;
    height: 35px;
    border-radius: 6px;
    font-family: sans-serif;
    font-weight: 900;  
}

#boton{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background-color: #5585B5;
    color:white;
    font-size: 15px;
    
}

#boton_invitado{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background-color: #5585B5;
    color:white;
    font-size: 15px;
    
}

#titulo{
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 48px;
}

#subtitulo1{
    padding-left: 70px;
    
}

#subtitulo2{
    padding-left: 107px;
    
}

#marca{
    font-size: 15px;
    font-weight: 500;
    
}

#info{
    font-size: 15px;
    font-weight: 500;
    
}

#logAdmin{
    font-size: 15px;
    font-weight: 500;
    padding-left: 230px;
    
}

footer{
    
    text-align: center;
    font-family: sans-serif;
    background-color: #272343;
    color: white;
    text-align: center;
    margin:  auto;
    padding: 5px 5px 30px 5px;
    border-top: 10px solid #272343;
    border-right: 10px solid #272343;
    border-left:  10px solid #272343;
}

#botonFormulario{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    background-color: #5585B5;
    color:white;
    font-size: 15px;
    
}

#cuadroMenu{
    width: 330px;
    color: white;
    margin:  auto;
    margin-top: 120px;
    padding: 5px 5px 30px 5px;
    border-radius: 10px;    
}


