<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
   <head th:replace="layout/plantillaMenu :: head"></head>
<body>
    <header th:replace="layout/plantillaMenu :: menu"></header>
    <div class="emergent-conten">
        <div class="emergent-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px" fill="currentColor" class="bi bi-check-circle-fill" 		viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <h2><b>¡ El alquiler del vehiculo se ha realizado con exito !</b></h2>
            <p>Por favor presentese a la sucursal seleccionada para finalizar con el proceso. Te esperamos.</p>
            <button class="btn-fin"><a href="/"><b>Finalizar</b></a></button>
        </div>
    </div>
    <footer th:replace="layout/plantillaMenu :: footer"></footer>
</body>
</html>
