<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillaMenu :: head"></head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <div class="contenedor">
            <div class="baner-inicio">
                <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                    <div class="bienvenida">
                       <b>[[#{plantillaMenu.bienvenida}]]</b>
                       <br>
                           [[#{plantillaMenu.informacion1}]]
                           <br>
                            [[#{plantillaMenu.informacion2}]]
                            <br>
                            [[#{plantillaMenu.informacion3}]]
                            <br>
                            [[#{plantillaMenu.informacion4}]]
                    </div>                
            </div>
            <h1>[[#{index.titulo}]]</h1>
            <br><br>
            <h2> [[#{plantillaMenu.venta}]]</h2>
            <section class="art-compra">                                
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>
                       
                    </div>                      
                </article>                
                
            </section>
            <br><br><br>
            <h2> [[#{plantillaMenu.renta}]]</h2>
            <section class="art-compra">                
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.alquilar}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicionalquilar}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.alquilar}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicionalquilar}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.alquilar}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicionalquilar}]]</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>[[#{plantillaMenu.alquilar}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicionalquilar}]]</p>
                       
                    </div>                      
                </article>
            </section>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <footer th:replace="layout/plantillaMenu :: footer"></footer>
    </body>
</html>
