<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section th:replace="layout/plantilla :: agregarVehiculo"/>
        <div class="conten-inicio">
            <div class="baner-inicio">                
                <div class="bienvenida">
                    <b style="color: #f95959;">[[#{plantillaMenu.bienvenida}]]</b>
                    <br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" 
                             class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg> [[#{plantillaMenu.informacion1}]]
                        <br/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" 
                             class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg> [[#{plantillaMenu.informacion2}]]
                        <br/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" 
                             class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg> [[#{plantillaMenu.informacion3}]]
                        <br/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" 
                             class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                            <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                        </svg> [[#{plantillaMenu.informacion4}]]
                </div>                
            </div>
            <section th:replace="carrito/fragmentosCarrito :: VehiculosVenta"></section>
            <br/><br/><br/>
            <section th:replace="carrito/fragmentosCarrito :: VehiculosAlquiler"></section>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script>
            function addCard(formulario){
            var valor=formulario.elements[0].value;
            var url='/carrito/agregar';
            url=url+'/'+valor;
            $("#resultsBlock").load(url);
            }
        </script>
    </body>
</html>
