<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AutosCR</title>
        <meta charset="UTF-8"/>           
        <link href="/estilosCSS/estilosplantilla.css" rel="stylesheet" type="text/css"/>
        <link href="/estilosCSS/estilosInicio.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <div class="contenedor">
            <div class="baner-inicio">
                <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                    <div class="bienvenida">
                       <b>Bienvenidos a AutosCR</b>
                       <br>
                           Busca, compra y alquila el vehículo de tu preferencia
                           <br>
                            Asistencia 24/7
                            <br>
                            ejores precios del pais
                            <br>
                            Rembolsos sin costo
                    </div>                
            </div>
            <h2>[[#{index.titulo}]]</h2>
            <section class="art-compra">                                
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: compra</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: compra</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: compra</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: compra</p>
                       
                    </div>                      
                </article>                
                
            </section>
            <h2> Alquila</h2><br>
            <section class="art-compra">                
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: Alquilar</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: Alquilar</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: Alquilar</p>
                       
                    </div>                      
                </article>
                <article>                    
                    <img src="https://images.unsplash.com/photo-1610399214658-52b9fdea4627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
                    <div class="info-compra">
                       <h3>Comprar</h3>
                       <p>Marca: xxxxx</p>
                       <p>Modelo: xxxx</p>
                       <p>Costo: $12000</p>
                       <p>Adquisición: Alquilar</p>
                       
                    </div>                      
                </article>
            </section>
        </div>
        <footer th:replace="layout/plantillaMenu :: footer"></footer>
    </body>
</html>
