<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>AutosCR</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>AutoCR</h1>
        <div id="cuadro">

            <form method="post" th:action="@{/login}">
                <p id="titulo" style="font-family: sans-serif" >&nbsp  &nbsp[[#{login.login}]]</p>
                <hr>
                    <br/><br/>
                    <label id="subtitulo1" for="username" style="font-family: sans-serif" >&nbsp &nbsp [[#{login.username}]]</label>
                    <br/><br/>
                    <input type="text" name="username" id="username" class="entrada"/>
                    <br/><br/>
                    <label id="subtitulo2" for="password" style="font-family: sans-serif" >&nbsp [[#{login.password}]]</label>
                    <br/><br/>
                    <input type="password" name="password" id="password" class="entrada"/>
                    <br/><br/>
                    <input type="submit" value="Iniciar Sesión" id="boton"/>
                    <br/><br/>
            </form>
            <br/>
            <p id="info" style="font-family: sans-serif " class="text-white" >No tienes cuenta?</p>
            <a th:href="@{/usuario/nuevo}" style="font-family: sans-serif ">Registrarse</a>
            <br>
            <a th:href="@{/}" style="font-family: sans-serif ">Invitado</a>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Usuario o Contraseña invalida.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Cerraste la sesión
            </div>
        </div>
        <br/><br/>
        <br/><br/>
        <br/><br/>
    </body>
</html>
