<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"></head>
    <body>

        <h1>AutoCR</h1>


        <div id="cuadro">
            <form th:action="@{/menu}">
                <p id="titulo" style="font-family: sans-serif" >ADMINISTRADOR</p>
                <hr>
                    <br/><br/>
                    <label id="subtitulo1" style="font-family: sans-serif" >CORREO ELECTRÓNICO</label>
                    <br/><br/>
                    <input type="text" class="entrada"/>
                    <br/><br/>
                    <label id="subtitulo2" style="font-family: sans-serif" >CONTRASEÑA</label>
                    <br/><br/>
                    <input type="password" class="entrada"/>
                    <br/><br/>
                    <input type="submit" value="Iniciar Sesión" id="boton"/>
                    <br/><br/>  
            </form>
            <br/>

        </div>

        <br/><br/>
        <br/><br/>
        <br/><br/>

        <footer th:replace="layout/plantillaMenu :: footer"></footer>
    </body>
</html>
