<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="../static/estilosCSS/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <h1>AutoCR</h1>
        
        

            <form>
                <p id="titulo" style="font-family: sans-serif" >ADMINISTRADOR</p>
                <hr>
                <br/><br/>
                <label id="subtitulo1" style="font-family: sans-serif" >CORREO ELECTRÓNICO</label>
                <br/><br/>
                <input type="text" class="entrada"/>
                <br/><br/>
                <label id="subtitulo2" style="font-family: sans-serif" >CONTRASEÑA</label>
                <br/><br/>
                <input type="password" class="entrada"/>
                <br/><br/>
                <input type="submit" value="Iniciar Sesión" id="boton"/>
                <br/><br/>  
            </form>
            <br/>
            

        
        <br/><br/>
        <br/><br/>
        <br/><br/>

        <footer>

            <p>&COPY; Todos los derechos reservados</p>
        </footer>
    </body>
</html>
