<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
   <head th:replace="layout/plantillaMenu :: head"></head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <nav id="cuadroMenu">
            <form th:action="@{/vehiculo/nuevo}">
                <input type="submit" value="Agregar Vehiculo" id="botonFormulario"/>
            </form>
            <br/>
            <form th:action="@{/vehiculo/listado}">
                <input type="submit" value="Consultar Vehiculo" id="botonFormulario"/>
            </form>
            <br/>
            <form th:action="@{/}">
                <input type="submit" value="Salir" id="botonFormulario"/>
            </form>
        </nav>
        <footer th:replace="layout/plantillaMenu :: footer">
            <p>&COPY; Todos los derechos reservados</p>
        </footer>
    </body>
</html>
