<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
   <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section th:replace="layout/plantilla :: agregarVehiculo"/>
        <div class="contenedor">
            <div class="conten-busqueda">                
                    <div class="busqueda-select">
                        <h2>[[#{plantillaMenu.alquilerinfo}]]</h2>
                        <select name="busqueda">                            
                            <option value="selec">[[#{plantillaMenu.alquilerselec}]]</option>
                            <option value="sanJose">San José</option>
                            <option value="alajuela">Alajuela</option>
                            <option value="cartago">Cartago</option>
                            <option value="guanacaste">Guanacaste</option>
                            <option value="Heredia">Heredia</option>
                            <option value="puntarenas">Puntarenas</option>
                            <option value="limon">Limón</option>
                        </select>
                        <form class="form-fecha">
                            <input type="datetime-local">
                            <input type="datetime-local">
                        </form>
                        <div class="btn-buscar">
                            <a th:href="index.html">[[#{plantillaMenu.alquilerbuscar}]]</a>
                        </div>
                        
                        
                    </div>                
            </div>
            <h2>[[#{plantillaMenu.alquilermensaje}]]</h2>
            <section class="art-compras">                                
                <article class="conten-art-compra">                    
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                                          
                </article>
                <article class="conten-art-compra">                                        
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                      
                </article>
                <article class="conten-art-compra">                                        
                    <div class="info-compr">
                       <h3>[[#{plantillaMenu.compra}]]</h3>
                       <p>[[#{plantillaMenu.marcavehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.modelovehiculo}]] xxxx</p>
                       <p>[[#{plantillaMenu.costo}]]$12000</p>
                       <p>[[#{plantillaMenu.adquisicioncompra}]]</p>                       
                    </div>                      
                </article>
            </section>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
