<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillaMenu :: head"></head>
    <body>
        <header th:replace="layout/plantillaMenu :: menu"></header>
        <div class="contenedor">
            <h2>[[#{vehiculo.titulo}]]</h2>
            <div th:if="${vehiculos != null and !vehiculos.empty}">
                <table border=".5">
                    <thead>
                        <tr>

                            <th>[[#{vehiculo.modelo}]]</th>
                            <th>[[#{vehiculo.marca}]]</th>
                            <th>[[#{vehiculo.anno}]]</th>
                            <th>[[#{vehiculo.kilometraje}]]</th>
                            <th>[[#{vehiculo.precio}]]</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.actualizar}]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vehiculo : ${vehiculos}">
                            <td th:text="${vehiculo.modelo}">Modelo: </td>
                            <td th:text="${vehiculo.marca}"></td>
                            <td th:text="${vehiculo.anno}"></td>
                            <td th:text="${vehiculo.kilometraje}"></td>
                            <td th:text="${#numbers.formatDecimal(vehiculo.precio,3,2)}"
                                style="text-align: right"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/vehiculo/modificar/}+${vehiculo.idVehiculo}">Modificar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/vehiculo/eliminar/}+${vehiculo.idVehiculo}">Eliminar</a></td>
                            <td><img src="https://th.bing.com/th/id/OIP.sLxN1lxvjCcho41jSEZhCQHaE8?pid=ImgDet&rs=1"
                                     style="width: 200px;height: 200px;"/></td>                    
                        </tr>
                    </tbody>
                </table>
                <br>
                <a th:href="@{/}">[[#{plantilla.logout}]]</a>
            </div>
            <div th:if="${vehiculos == null or vehiculos.empty}">
                [[#{index.titulo}]]
                <br>
                <a th:href="@{/}">Salir</a>
            </div>
        </div>
         <footer th:replace="layout/plantillaMenu :: footer">
        </footer>
    </body>
</html>
